//Box sizing
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// Create a root stacking context
:root {
	isolation: isolate;
}

// smooth scrolling
html:focus-within {
	scroll-behavior: smooth;
}

// Set the body
body {
	// Add accessible line-height
	line-height: 1.5;
	min-height: 100vh;
	// Prevent adjustments of font size after orientation changes in iOS.
	-webkit-text-size-adjust: 100%;
	// Improve text rendering
	-webkit-font-smoothing: antialiased;
}

//remove ul/ol style
ul,
ol {
	list-style: none;
}

// Improve media defaults
img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	display: block;
	// Remove the border on images inside links in IE 10
	border-style: none;
}

// Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

// Make forms elements easier to work with
input,
button,
textarea,
select {
	// by default those elements DON'T INHERIT font properties so doing that they will
	font: inherit;
	outline: none;
}

hr {
	// Add the correct box sizing in Firefox.
	box-sizing: content-box;
	height: 0;
	// Show the overflow in Edge and IE.
	overflow: visible;
}

pre {
	// Correct the inheritance and scaling of font size in all browsers.
	font-family: monospace, monospace;
	// Correct the odd `em` font sizing in all browsers.
	font-size: 1em;
}

//Remove the gray background on active links in IE 10.
a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none; //Remove the bottom border in Chrome 57-
	text-decoration: underline; //Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	text-decoration: underline dotted; //Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
}

//Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	//Correct the inheritance and scaling of font size in all browsers.
	font-family: monospace, monospace;
	//Correct the odd `em` font sizing in all browsers.
	font-size: 1em;
}

// Prevent `sub` and `sup` elements from affecting the line height in all browsers.
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

//Correct the inability to style clickable types in iOS and Safari.
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

// Correct the inability to style clickable types in iOS and Safari.
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

// Add the correct display in all browsers.
details {
	display: block;

	summary {
		display: list-item;
	}
}

// Add the correct display in IE 10+.
template {
	display: none;
}

[hidden] {
	display: none;
}

// Remove animations for people who've turned them off
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
